.jqm-demos .jqm-content {
    float: none;
    width: auto;
}
.score {
    float: left;
    font-weight: bold;
    padding: .5em;
    background-color: #ccc;
    margin-right: .5em;
    font-size: 1.25em;
}
#mepPhoto, .mepFlag img {
    padding-right: .5em;
}
#mepFlag img, .mepFlag img {
    margin-bottom: 0.35em;
}

h2 {
    background-color: #ccc;
}

h1 img.portrait {
    height: 111px;
}
h2 img.portrait {
    height: 72px;
}

img.portrait {
    padding-right: 1em;
}

.ui-listview > li p {
    white-space: normal;
}

.boxito {
    padding: .5em;
    background-color: #ccc;
    margin-right: .5em;
    float: left;
}
.agreement {
    background-color: green;
}
.disagreement {
    background-color: red;
}
