.jqm-demos .jqm-content {
    float: none;
    width: auto;
}
#logo {
	width:150px;
	background-color: #666;
	padding: 5px;
}
.score {
    float: left;
    font-weight: bold;
    padding: .5em;
    background-color: #ccc;
    margin-right: .5em;
    font-size: 1.25em;
}
#mepPhoto, .mepFlag img {
    padding-right: .5em;
}
#mepFlag img, .mepFlag img {
    margin: 0 0 0.35em 0.15em;
}

h1 img.portrait {
    height: 111px;
}

.jqm-demos .jqm-content > h1.starthead {
	font-size: 3.5em;
	width: 50%;
	min-width: 300px;
	max-width: 600px;
	margin: 0.3em auto 1em auto;
	text-align: center;

}
h2 img.portrait {
    height: 72px;
}

h2 a{
    font-size: 0.5em;
    text-decoration: none;
    color: inherit;
    padding-left:1em;
}

img.portrait {
    padding-right: 1em;
}

.ui-listview > li p {
    white-space: normal;
    font-size: 1.1em;
}

.boxito {
	color: white;
	text-shadow: none;
	padding: .1em 0.3em;
	min-width: 30px;
	background-color: #ccc;
	margin-right: .5em;
	float: left;
	min-height: 1em;
	text-align: center;
}

.agreement {
	background-color: green;
}
.disagreement {
    background-color: red;
}
.jqm-demos .jqm-header {
    background-color: #ccc;
}

.jqm-demos .jqm-content > h2 {
	color: inherit;
}

.jqm-demos .jqm-header h2 {
	margin-left: 5%;
	margin-right: 5%;
}